@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  

}
::-webkit-scrollbar{
  display: none;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* navbar css */
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  -webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom:  solid gray !important;
}

.nav-link{
  font-weight: 300 !important;


}
.active{
  border-bottom: 2px solid black;
}
.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

/* FOOTER */

.footer{
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: -webkit-linear-gradient(to right,
  #434343,
  #000000)
}
.footer a {
  text-decoration: none;
  color: white;
  padding: -10px;



}
.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}


/* page not found css */
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.pnf-title{
 font-size: 100px;
 font-weight: 700;


}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color: #000000;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;

}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.services{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 2px ;
  overflow: hidden;
  
}
.int{
  font-family: 'Poppins', sans-serif;
  color: crimson;
  font-weight: 800;
  letter-spacing: 1px;
}

.bimg{
  width: 250px;
  animation: babySlide 1.5s ease-in-out infinite alternate;


}
@keyframes babySlide{
  0%{transform: translateY(-20px );}
  100%{transform: translateY(0px);}
}

 /* -----------------REGISTER---------------- */
 .register{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;

 }
 /* form */
 .form{

  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  gap: 20px;

 }
 .form input{
  padding: 10px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: darkred;
  font-size: 15px;
  
  /* box-shadow:2px 5px 10px 3px rgba(0, 0, 0, .5); */
  /* border-bottom: 2px solid black; */
  border:0;
  outline: 0;
  width: 400px; 
  border-radius: 20px;
  height: 50px;
 }

 .form button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  box-shadow: 10px 5px 10px 3px gray ;
  border-radius: 5px;
  color: wheat;
  background-color: #434343; 
  padding: 20px;

  


 }
 .form button:hover{
  color:wheat;
  opacity: .8;
  box-shadow:2px 5px 10px 3px rgba(0, 0, 0, .5);

 }

/* ----------------- */
.product-link{
  text-decoration: none !important;
  color: #000000 !important;

}